apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: robot-system

# 이 kustomization은 기존 docker-compose 서비스 구성을 k8s로 옮기기 위한 기본 묶음이다.
# k8s/base/env/*.env 를 ConfigMap으로 변환해 각 서비스 컨테이너에 주입한다.
# redis/nginx/kafka 보조 스크립트/설정도 k8s/base에 복사해 ConfigMap으로 묶어 마운트한다.

resources:
  - namespace.yaml
  - workloads.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: kafka-broker-env
    envs:
      - env/kafka-broker.env
  - name: kafka-ui-env
    envs:
      - env/kafka-ui.env
  - name: timescaledb-env
    envs:
      - env/timescale.env
  - name: ingress-env
    envs:
      - env/ingress.env
  - name: auth-env
    envs:
      - env/auth.env
  - name: robots-env
    envs:
      - env/robots.env
  - name: user-env
    envs:
      - env/user.env
  - name: django-env
    envs:
      - django.env
  - name: realtime-control-gateway-env
    envs:
      - env/realtime-control-gateway.env
  - name: grpc-robot-gateway-env
    envs:
      - env/grpc-robot-api.env
  - name: redis-env
    envs:
      - env/redis.env
  - name: redis-config
    files:
      - redis/base.conf
      - redis/redis-entrypoint.sh
  - name: nginx-config
    files:
      - nginx.conf
  - name: kafka-scripts
    files:
      - kafka/topic_checker.sh
